#header {
	&.header-main {
		width: 100%;
		height: 70px;
		position: fixed;
		transition: all 0.3s;
		z-index: 5;

		&.scroll {
			height: 58px;
			background: rgba(255, 255, 255, 0.9);
		}

		&.sub {
			position: relative;
			&.scroll {
				height: 70px;
			}
		}
	}

	.inner-header {
		width: $mainContainer;
		height: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h1 {
			> a {
				font-size: 30px;
				font-weight: 700;
				color: #333;
			}
		}

		.gnb {
			display: flex;
			align-items: center;
			gap: 30px;

			> li {
				> a {
					font-size: 15px;
					color: #333;

					&.on {
						color: #2ba9a9;
					}
				}
			}
		}

		.login-wrap {
			display: flex;
			align-items: center;
			gap: 25px;

			> a {
				display: block;
				font-size: 14px;
				color: #444;

				&.on {
					color: #2ba9a9;
				}
			}
		}

		.btn-menu {
			display: none;
			font-size: 24px;
			color: #333;
			cursor: pointer;
		}
	}
}

.mobile-menu {
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: -1;
	transition: all 0.2s;

	&.on {
		opacity: 1;
		z-index: 5;

		.inner-menu {
			opacity: 1;
			transform: translate(0, 0);
		}
	}

	.inner-menu {
		position: absolute;
		top: 0;
		right: 0;
		width: 270px;
		height: 100%;
		background: #111;
		padding: 20px;
		opacity: 0;
		transform: translate(70%, 0);
		transition: all 0.3s;
		transition-delay: 0.2s;

		.menu-close {
			display: block;
			font-size: 24px;
			color: #fff;
			margin-left: auto;
			cursor: pointer;
		}

		h1 {
			margin: 20px 0 50px;

			> a {
				font-size: 22px;
				font-weight: 700;
				color: #fff;
			}
		}

		.gnb {
			> li {
				&:not(:first-child) {
					margin-top: 13px;
				}

				> a {
					display: block;
					font-size: 15px;
					color: #fff;

					&.on {
						color: #2ba9a9;
					}
				}
			}
		}

		.login-wrap {
			border-top: 1px solid #555;
			padding-top: 35px;
			margin-top: 50px;

			> a {
				display: block;
				font-size: 14px;
				color: #fff;

				&:not(:first-child) {
					margin-top: 15px;
				}

				&.on {
					color: #2ba9a9;
				}
			}

			.profile-wrap {
				display: flex;
				align-items: center;

				.profile {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 42px;
					height: 42px;
					background: #ffbd45;
					border-radius: 50%;
					overflow: hidden;
				}

				button {
					font-size: 14px;
					color: #fff;
					margin-left: 15px;
					cursor: pointer;
				}
			}
		}
	}
}

@media screen and (max-width: $mainContainer) {
	#header {
		.inner-header {
			width: 100%;
			padding: 0 $responsePadding;
		}
	}
}

@media screen and (max-width: $tablet) {
	#header {
		.inner-header {
			.gnb,
			.login-wrap {
				display: none;
			}

			.btn-menu {
				display: block;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	#header {
		.inner-header {
			h1 {
				> a {
					font-size: 26px;
				}
			}

			.btn-menu {
				font-size: 20px;
			}
		}
	}
}
